In [18]:
from get_data import get_data_array
import matplotlib.pyplot as plt
import pandas as pd
train = get_data_array('AB')

test = get_data_array('C')

In [28]:
df_test = pd.DataFrame(train)

In [29]:
df_train = pd.DataFrame(test)

In [30]:
df_test.head()

                                                   0      1
0  [[10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,...    100
1  [[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 7,...    100
2  [[9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,...   1000
3  [[11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, ...   1000
4  [[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,...  10000

In [31]:
df_test.head()

                                                   0      1
0  [[10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,...    100
1  [[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 7,...    100
2  [[9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,...   1000
3  [[11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, ...   1000
4  [[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,...  10000

In [46]:
for i in df_test:
    plt.imshow(df_test.i)

TypeError: 'tuple' object is not callable